# Discreatization

Loading necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading our dataset `iris dataset`

In [17]:
df = pd.read_csv('iris.csv')
df # We can see we have addition column without header which is Unnamed:0

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [18]:
df.columns # We can see we have addition column without header which is Unnamed:0, we will remove this column from our dataframe

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [19]:
columns_to_drop = ['Unnamed: 0']
df = df.drop(columns=columns_to_drop)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Lets check the shape and lets describe our data

In [7]:
df.shape

(150, 5)

In [9]:
df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [8]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# As we can see apart from `Species` column all other columns are continous columns, we will use following methods to discreatization our columns

We will discreate following columns `Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`

We will use following techniques:
1 - Binarization
2 - Rounding
3 - Binning

## Step 1 - Binarization

In [15]:
# We will use Python qcut, to categorize our value to be either Below Median or Above Median

# We will use this logic for each column and create seperate columns which will show Binarization in our dataset

In [20]:
bins_label = ['Below_Median', 'Above_Median'] # Creating Labels for our Binarization

Transforming our columns in Dataset

In [21]:
df['Sepal_Length_Binarization'] = pd.qcut(df['Sepal.Length'], q=2,
                                         labels=bins_label) # We are cutting our data into 50% qunatile and we are categorzing our Sepal length to be either above Median or Below median
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Binarization
0,5.1,3.5,1.4,0.2,setosa,Below_Median
1,4.9,3.0,1.4,0.2,setosa,Below_Median
2,4.7,3.2,1.3,0.2,setosa,Below_Median
3,4.6,3.1,1.5,0.2,setosa,Below_Median
4,5.0,3.6,1.4,0.2,setosa,Below_Median
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,Above_Median
146,6.3,2.5,5.0,1.9,virginica,Above_Median
147,6.5,3.0,5.2,2.0,virginica,Above_Median
148,6.2,3.4,5.4,2.3,virginica,Above_Median
149,5.9,3.0,5.1,1.8,virginica,Above_Median

In [22]:
df['Sepal_Width_Binarization'] = pd.qcut(df['Sepal.Width'], q=2,
                                        labels=bins_label)
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Binarization,Sepal_Width_Binarization
0,5.1,3.5,1.4,0.2,setosa,Below_Median,Above_Median
1,4.9,3.0,1.4,0.2,setosa,Below_Median,Below_Median
2,4.7,3.2,1.3,0.2,setosa,Below_Median,Above_Median
3,4.6,3.1,1.5,0.2,setosa,Below_Median,Above_Median
4,5.0,3.6,1.4,0.2,setosa,Below_Median,Above_Median
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,Above_Median,Below_Median
146,6.3,2.5,5.0,1.9,virginica,Above_Median,Below_Median
147,6.5,3.0,5.2,2.0,virginica,Above_Median,Below_Median
148,6.2,3.4,5.4,2.3,virginica,Above_Median,Above_Median
149,5.9,3.0,5.1,1.8,virginica,Above_Median,Below_Median

In [23]:
df['Petal_Length_Binarization'] = pd.qcut(df['Petal.Length'], q=2,
                                         labels=bins_label)
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Binarization,Sepal_Width_Binarization,Petal_Length_Binarization
0,5.1,3.5,1.4,0.2,setosa,Below_Median,Above_Median,Below_Median
1,4.9,3.0,1.4,0.2,setosa,Below_Median,Below_Median,Below_Median
2,4.7,3.2,1.3,0.2,setosa,Below_Median,Above_Median,Below_Median
3,4.6,3.1,1.5,0.2,setosa,Below_Median,Above_Median,Below_Median
4,5.0,3.6,1.4,0.2,setosa,Below_Median,Above_Median,Below_Median
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,Above_Median,Below_Median,Above_Median
146,6.3,2.5,5.0,1.9,virginica,Above_Median,Below_Median,Above_Median
147,6.5,3.0,5.2,2.0,virginica,Above_Median,Below_Median,Above_Median
148,6.2,3.4,5.4,2.3,virginica,Above_Median,Above_Median,Above_Median
149,5.9,3.0,5.1,1.8,virginica,Above_Median,Below_Median,Above_Median

In [24]:
df['Petal_Width_Binarization'] =pd.qcut(df['Petal.Width'], q=2,
                                       labels=bins_label)
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Binarization,Sepal_Width_Binarization,Petal_Length_Binarization,Petal_Width_Binarization
0,5.1,3.5,1.4,0.2,setosa,Below_Median,Above_Median,Below_Median,Below_Median
1,4.9,3.0,1.4,0.2,setosa,Below_Median,Below_Median,Below_Median,Below_Median
2,4.7,3.2,1.3,0.2,setosa,Below_Median,Above_Median,Below_Median,Below_Median
3,4.6,3.1,1.5,0.2,setosa,Below_Median,Above_Median,Below_Median,Below_Median
4,5.0,3.6,1.4,0.2,setosa,Below_Median,Above_Median,Below_Median,Below_Median
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,Above_Median,Below_Median,Above_Median,Above_Median
146,6.3,2.5,5.0,1.9,virginica,Above_Median,Below_Median,Above_Median,Above_Median
147,6.5,3.0,5.2,2.0,virginica,Above_Median,Below_Median,Above_Median,Above_Median
148,6.2,3.4,5.4,2.3,virginica,Above_Median,Above_Median,Above_Median,Above_Median
149,5.9,3.0,5.1,1.8,virginica,Above_Median,Below_Median,Above_Median,Above_Median

We have sucessfully Binarized our continous data to be in two categories which is Above Median or Below Median

# Step 2 - Rounding

In [25]:
## We will round the numbers to their nearest Integer

In [26]:
## We will load the data again

In [27]:
df = pd.read_csv('iris.csv')
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [28]:
columns_to_drop = ['Unnamed: 0']
df = df.drop(columns=columns_to_drop)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [31]:
df['Sepal_Length_Rounded'] = np.array(np.round((df['Sepal.Length'])), dtype='int') # Rounding Sepal.Length column to its nearest integer and saving that information to a new column
df
# We will replicate the same process for other columns in the dataframe

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Rounded
0,5.1,3.5,1.4,0.2,setosa,5
1,4.9,3.0,1.4,0.2,setosa,5
2,4.7,3.2,1.3,0.2,setosa,5
3,4.6,3.1,1.5,0.2,setosa,5
4,5.0,3.6,1.4,0.2,setosa,5
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,7
146,6.3,2.5,5.0,1.9,virginica,6
147,6.5,3.0,5.2,2.0,virginica,6
148,6.2,3.4,5.4,2.3,virginica,6
149,5.9,3.0,5.1,1.8,virginica,6

In [32]:
df['Sepal_width_Rounded'] = np.array(np.round((df['Sepal.Width'])), dtype='int')
df['Petal_Length_Rounded'] = np.array(np.round((df['Petal.Length'])),dtype='int')
df['Petal_Width_Rounded'] = np.array(np.round((df['Petal.Width'])), dtype='int')
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal_Length_Rounded,Sepal_width_Rounded,Petal_Length_Rounded,Petal_Width_Rounded
0,5.1,3.5,1.4,0.2,setosa,5,4,1,0
1,4.9,3.0,1.4,0.2,setosa,5,3,1,0
2,4.7,3.2,1.3,0.2,setosa,5,3,1,0
3,4.6,3.1,1.5,0.2,setosa,5,3,2,0
4,5.0,3.6,1.4,0.2,setosa,5,4,1,0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,7,3,5,2
146,6.3,2.5,5.0,1.9,virginica,6,2,5,2
147,6.5,3.0,5.2,2.0,virginica,6,3,5,2
148,6.2,3.4,5.4,2.3,virginica,6,3,5,2
149,5.9,3.0,5.1,1.8,virginica,6,3,5,2

We have sucessfully Rounded our continous data to its nearest `Integer`

# Step 3 - Binning

We will use the `cut` method in `Pandas` to bin our variables

In [33]:
# We will try to Bin our data with Adaptive bins of 3

In [37]:
pd.cut(df['Petal.Length'],3).head() # This shows all the values of Petal Length being Binned under 3 bins values are available below Categories

0    (0.0976, 0.9]
1    (0.0976, 0.9]
2    (0.0976, 0.9]
3    (0.0976, 0.9]
4    (0.0976, 0.9]
Name: Petal.Width, dtype: category
Categories (3, interval[float64]): [(0.0976, 0.9] < (0.9, 1.7] < (1.7, 2.5]]

Lets assign these values to our data frame

In [38]:
## Lets load the data again
df = pd.read_csv('iris.csv')
df
columns_to_drop = ['Unnamed: 0']
df = df.drop(columns=columns_to_drop)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [39]:

df['Sepal.Length_Bin'] = pd.cut(df['Sepal.Length'],3)
df['Speal.Width_Bin'] = pd.cut(df['Sepal.Width'],3)
df['Petal.Lenght_Bin'] = pd.cut(df['Petal.Length'],3)
df['Petal.Width_Bin'] = pd.cut(df['Petal.Width'],3)
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal.Length_Bin,Speal.Width_Bin,Petal.Lenght_Bin,Petal.Width_Bin
0,5.1,3.5,1.4,0.2,setosa,"(4.296, 5.5]","(2.8, 3.6]","(0.994, 2.967]","(0.0976, 0.9]"
1,4.9,3.0,1.4,0.2,setosa,"(4.296, 5.5]","(2.8, 3.6]","(0.994, 2.967]","(0.0976, 0.9]"
2,4.7,3.2,1.3,0.2,setosa,"(4.296, 5.5]","(2.8, 3.6]","(0.994, 2.967]","(0.0976, 0.9]"
3,4.6,3.1,1.5,0.2,setosa,"(4.296, 5.5]","(2.8, 3.6]","(0.994, 2.967]","(0.0976, 0.9]"
4,5.0,3.6,1.4,0.2,setosa,"(4.296, 5.5]","(2.8, 3.6]","(0.994, 2.967]","(0.0976, 0.9]"
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,"(5.5, 6.7]","(2.8, 3.6]","(4.933, 6.9]","(1.7, 2.5]"
146,6.3,2.5,5.0,1.9,virginica,"(5.5, 6.7]","(1.998, 2.8]","(4.933, 6.9]","(1.7, 2.5]"
147,6.5,3.0,5.2,2.0,virginica,"(5.5, 6.7]","(2.8, 3.6]","(4.933, 6.9]","(1.7, 2.5]"
148,6.2,3.4,5.4,2.3,virginica,"(5.5, 6.7]","(2.8, 3.6]","(4.933, 6.9]","(1.7, 2.5]"
149,5.9,3.0,5.1,1.8,virginica,"(5.5, 6.7]","(2.8, 3.6]","(4.933, 6.9]","(1.7, 2.5]"

In [40]:
# We can see bin size does not match as they adapt to the values of each column

In [41]:
# We will use Fixed width bins

In [43]:
# Lets load the data again
df = pd.read_csv('iris.csv')
df
columns_to_drop = ['Unnamed: 0']
df = df.drop(columns=columns_to_drop)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [44]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [45]:
# from the data set, we can see max value is 7.9 and min value is 0.100000

# We will create an array of 5 values which will be between 0.1 to 8

custom_bin = np.linspace(0.1, 8, 5)
custom_bin

array([0.1  , 2.075, 4.05 , 6.025, 8.   ])

In [46]:
# We will provide our custom bin value to our cut to bin values only between these values

In [47]:
df['Sepal.Length_Bin'] = pd.cut(df['Sepal.Length'],custom_bin)
df['Speal.Width_Bin'] = pd.cut(df['Sepal.Width'],custom_bin)
df['Petal.Lenght_Bin'] = pd.cut(df['Petal.Length'],custom_bin)
df['Petal.Width_Bin'] = pd.cut(df['Petal.Width'],custom_bin)
df

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Sepal.Length_Bin,Speal.Width_Bin,Petal.Lenght_Bin,Petal.Width_Bin
0,5.1,3.5,1.4,0.2,setosa,"(4.05, 6.025]","(2.075, 4.05]","(0.1, 2.075]","(0.1, 2.075]"
1,4.9,3.0,1.4,0.2,setosa,"(4.05, 6.025]","(2.075, 4.05]","(0.1, 2.075]","(0.1, 2.075]"
2,4.7,3.2,1.3,0.2,setosa,"(4.05, 6.025]","(2.075, 4.05]","(0.1, 2.075]","(0.1, 2.075]"
3,4.6,3.1,1.5,0.2,setosa,"(4.05, 6.025]","(2.075, 4.05]","(0.1, 2.075]","(0.1, 2.075]"
4,5.0,3.6,1.4,0.2,setosa,"(4.05, 6.025]","(2.075, 4.05]","(0.1, 2.075]","(0.1, 2.075]"
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,"(6.025, 8.0]","(2.075, 4.05]","(4.05, 6.025]","(2.075, 4.05]"
146,6.3,2.5,5.0,1.9,virginica,"(6.025, 8.0]","(2.075, 4.05]","(4.05, 6.025]","(0.1, 2.075]"
147,6.5,3.0,5.2,2.0,virginica,"(6.025, 8.0]","(2.075, 4.05]","(4.05, 6.025]","(0.1, 2.075]"
148,6.2,3.4,5.4,2.3,virginica,"(6.025, 8.0]","(2.075, 4.05]","(4.05, 6.025]","(2.075, 4.05]"
149,5.9,3.0,5.1,1.8,virginica,"(4.05, 6.025]","(2.075, 4.05]","(4.05, 6.025]","(0.1, 2.075]"